DECLARE VOICES: soprano, alto, tenor, bass
DECLARE LENGTH: 7

INCLUDE: ../example_rules/stdlib/stdint.rules
INCLUDE: ../example_rules/stdlib/stdkey.rules
INCLUDE: ../example_rules/stdlib/stdpitch.rules
INCLUDE: ../example_rules/stdlib/stdchord.rules
; INCLUDE: ../example_rules/stdlib/stdmotion.rules

; makes it easy to configure key
DEFINE: tonic = D
DEFINE: mode = sc_major

; set key
REQUIRE: isDiatonic(tonic, sc_major, ANY_PITCH)
; TODO this will only allow v instead of V if minor

;;;;;;; VOICES

; absolute requirements for ranges
REQUIRE: pitches-of soprano at t >= C4 and pitches-of soprano at t <= G5
REQUIRE: pitches-of alto at t >= G3 and pitches-of alto at t <= C5
REQUIRE: pitches-of tenor at t >= C3 and pitches-of tenor at t <= G4
REQUIRE: pitches-of bass at t >= E2 and pitches-of bass at t <= G3



;;;;;;;; MOTION 

; no parallel 5ths or octaves!
; REQUIRE: (contour-of v1 at t is P5) and (contour-of v2 at t is-not P5)

; requires 
REQUIRE: isInChord(tonic, ch_maj, pitches-of v at start)
REQUIRE: isInChord(tonic, ch_maj, pitches-of v at end)
